    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    overflow: hidden;
}

.header {
    background-color: #00796b;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    color: #ffffff;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f0f0f0;
    width: 300px;
    height: 100%;
    padding: 30px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
}

.menu.open {
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    background-color: #f0f0f0;
    padding: 20px;
    width: 20%;
    position: relative;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

.left p {
    text-align: center;
}

.right {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.right h2 {
    text-align: center;
    margin-top: 0;
}

.profile-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.profile-wrapper img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.contact {
    text-align: center;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    color: #00796b;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.footer {
    background-color: #00796b;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
}

.profile-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #00796b;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .left {
        display: none;
    }

    .profile-icon {
        display: block;
    }

    .right {
        flex-grow: 1;
        padding: 20px;
    }
}
